
/* ************************** */
/* *        GENERALS            */
/* ************************** */

@font-face{
    font-family: "Larish neue";
    src: url("../fonts/Larish\ Neue\ Semibold.woff2") format("woff2"),
        url("../fonts/LarishNeueSemibold.woff") format("woff");
}


body, main{
    padding: 0;
    margin: 0;


}



p, a{
    font-family: "Larish neue"; 
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
}
h1, h2{
    font-family: "Larish neue";
    font-size: 7em;
    padding: 0;
    margin: 0;
}

h3{
    font-family: "Larish neue";

}



/* *   defining black section  */

.black_bg{
    background: black;
    color: white;
}

#black_bg_1{
    width: 100vw;
    height: 330vh;
}

.white_bg{
    background: white;
    color: black;
}

/* *       border-text      */
.stroking_titel{
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}




/* ************************** */
/* *        First PART - BLACK            */
/* ************************** */

#page1, #page3{
    width: 84vw;
    height: 100vh;
    margin-left: 8vw;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title1{
    padding-top: 20vh;
}


/* *     TITLE H1 CROSSING BORDERS */
.over_word{
    margin: 0;
    padding: 0;
    line-height: 80%;
}
.under_word{
    margin: 0;
    padding: 0;
    line-height: 70%;
    top: -10px;
}

/* #title1{
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

#title1 p{
    font-size: 1.2em;
}

#title1 p:first-child{
    margin-bottom: 30px;
}
#title1 p:last-child{
    margin-top: 30px;
}

/* *    Baer and RSVO link as flex */

#baer_link {
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
    /* align-self: flex-end; */
}

#baer_link a, #text_last a{
    color: white;
    text-decoration: none;
    border: 1px #7b7676 solid;
    padding: 14px 30px;
    font-size: 1.2em;
}

#baer_link a:hover, #text_last a:hover{
    background-color: #fff;
    color:black;
    transition: .8s;
}


/* *    SECOND PAGE -  TEXT AREA */

#page2{
    margin-top: 80px;
    width: 92vw;
    height: 100vh;
    margin-left: 8vw;
    text-align: left;
}

#page2 h1{
    font-size: 7rem;
    line-height: 100%;
}

/* *    THIRD PAGE */
#page3{
    width: 92vw;
    text-align: left;
    background: url("../img/map.svg") right/contain no-repeat;
    margin-bottom: 500px;
    background-color: black;
}

#page3 h1{
    font-size: 6.5em;
}

#page3 p{
    font-size: 1.2em;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 100%;
}



/* ************************** */
/* *        SECOND PART - WHITE            */
/* ************************** */

#white_bg_1{
    width: 100vw;
    height: 260vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;   /*! for imgs*/
}

/* * IMAGES ALIGN */
#white_bg_1 img{
    display: inline-block;
    width: 320px;
    position: absolute;

}

#white_bg_1 #img-1{
    top: -50px;
    right: 100px;
    /* width: 320px; */
}
#white_bg_1 #img-2{
    width: 280px;
    top: 240px;
    left: 50px;
}
#white_bg_1 #img-3{
    width: 280px;
    top: 580px;
    right: 0px;
}
#white_bg_1 #img-4{
    top: 770px;
    left: 250px;
}
#white_bg_1 #img-5{
    top: 960px;
    right: 150px;
}
#white_bg_1 #img-6{
    width: 280px;
    bottom: 360px;
    left: 0px;
}
#white_bg_1 #img-7{
    width: 380px;
    bottom: -50px;
    right: 250px;
}


/* * TEXT ALIGN IN THE MIDDLE */


#text_placement{
    height: 160vh;
    width: 35vw;
    /* border: 1px red solid; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#text_placement h2{
    font-size: 5.5em;
    margin: 0;
    padding: 0;
    line-height: 100%;
}
#text_placement p{
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    line-height: 180%;
}


/* ************************** */
/* *        SECOND BLACK PART            */
/* ************************** */

/* *  BG Area black and text */

#black_bg_2{
    height: 150vh;
    width: 100vw;
}

.text_wrap{
    width: 84vw;
    margin-left: 8vw;
    padding-top: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text_wrap h2{
    margin: 0;
    padding: 0 20vw 0 0;
    line-height: 100%;
    font-size: 6em;
}
.text_wrap h3{

    font-size: 1.9em;
    line-height: 105%;
}

.text_wrap p, .text_wrap span{
    color: #b4afaf;
    margin-top: 0;

}

.text_wrap span{
    display: inline-block;
    width: 15px;
    height: 2px;
    background-color: #b4afaf;
    margin-bottom: 3px;

}

.text_wrap article:last-of-type{
    padding-top: 30px;
    margin-bottom: 10px;
}

/* *  3 PICTURES in COLLAGE */


#images3_collide{
    position: relative;
    /* overflow: hidden;
    z-index: -10; */
    width: 100vw;

}

#images3_collide img{
    display: inline-block;
    position: absolute;
    overflow: hidden;
}

#img__1{
    background-color: rgb(238,238,238);
    width: 50vw;
    left: 14vw;
    top: 200px;
}

/* *  INFINITE ROTATION */

#wrapper_rotate{
    display: block;
    overflow: hidden;
    width: 100vw;

}

@keyframes rotating{
    from{
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

#rounded_circle{
    position: relative;
    overflow: hidden;
    width: 100vw;
    top: -150px;
}

#img__3{

    width: 25vw;
    right: 230px;
    top:250px;
    z-index: 2;
}

#img__2{
    /* position: absolute; */
    width: 45vw;
    /* top: 450px;
    right: -100px; */
    /* z-index: 10; */
    transform: rotate();
    animation: rotating 5s linear infinite;
    overflow: hidden;
    display: inline;
    margin-left: 70vw;
    margin-top: 0px;
    top: 0px;
}



/* ************************** */
/* *        SECOND WHITE PART            */
/* ************************** */

#white_bg_2{
    height: 200vh;
}

#white_bg_2 .text_wrap{
    padding-top: 0;
}

 #white_bg_2 p{
    color: black;
}

#white_bg_2 span{
    background-color: black
}

/* *   2 Pictures in the middle */

#two_pics_center{
    position: relative;
    margin-bottom: 150px;
}

#two_pics_center img{
    position: absolute;
}

#num_pic1{
    width: 25vw;
    top:365px;
    left: 300px;
    z-index: 1;
}

#num_pic2{
    width: 50vw;
    right: 8vw;
    top:200px;
    
}


/* ************************** */
/* *        LAST BLACK PART            */
/* ************************** */

/* * TEXT PART */
#black_bg_3{
    height: 100vh;
    position: relative;
    overflow: hidden;
}


#text_last{

    width: 40vw;
    margin-left: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 100px;
}

#text_last p{
    margin: 0;
}

#text_last h4{
    font-size: 2em;
    line-height: 140%;
    font-family: "Larish neue";
    font-weight: 300;
    margin: 20px 0;
    width: 90%;
    
}


/* * ""FOOTER"" PART */

#footer_like{

    width: 84vw;
    margin-left: 8vw;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#social_rigt{
    display: flex;
    flex-direction: column;
}

#social_rigt p:last-of-type{
    margin-top: 0;
}



#social_imgs img{
    width: 20px;
    display: inline-block;
    padding-right: 5px;
}

#charite_{
    padding-right: 100px;
}

#charite_ img{
    display: inline-block;
    width: 80px;
}

/* *  RUNNGIN TEXT ON WhITE BACKGROUND */

#running_text{
    position: absolute;
    top:200px;
    right: -450px;
    width: 110vw;
    height: 130px;
    background: #fff;
    color: #000;
    transform: rotate(45deg);
}

/* #run_wrapper{
    animation: text_run 5s linear infinite;
} */
#running_text h1{
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 200%;
    /* padding-left: 100%; */
    margin-left: 0%;
    animation: text_run 18s linear infinite;
    
}

.stroke_text{
    display: inline-block;
    color: #fff;
    -webkit-text-stroke: 2px black;
}

.stroke_text b{
    color: #000;
}


@keyframes text_run{
    0%{
        transform: translate(40%,0);
    }
    100%{
        transform: translate(-100%, 0);
    }
}




/* ************************** */
/* *        MEDIA QUERIES           */
/* ************************** */

@media only screen and (max-width: 1175px){

    #page2 h1{
        font-size: 6em;
        line-height: 100%;
    }

    /* #img__2{
        top:-150px;
    } */
    #rounded_circle{
        top:-200px
    }

    #running_text{
        width: 140vw;
    }

    #text_last{
        padding-top: 50px;
    }
    
}

@media only screen and (max-width: 992px){
    #white_bg_1 #img-2{
        top: 180px;
    }
    #white_bg_1 #img-4{
        top: 820px;
        left:50px
    }

    #footer_like{
        margin-top: 40px;
    }
    #num_pic1{
        top:300px;

    }
}

@media only screen and (max-width: 820px){
    #page1 #title1 .over_word{font-size: 4em;}
    #page2 h1{
        font-size: 4.5em;
    }

    #white_bg_1 #img-3{
        top: 380px;
    }
    #white_bg_1 #img-5{
        right: 0;

    }
    #white_bg_1 #img-6{
        z-index: -1;
    }

    #text_placement{
        width: 55vw;
    }

    .text_wrap h2{
        padding: 0 5vw 0 0;

    }

    #text_last{

        width: 50vw;
        margin-left: 4vw;
        padding-top: 50px;
    }
    #running_text{
        width: 200vw;
        right: -600px;
        height: 110px;
    }
    #white_bg_2{
        height: 160vh;
    }
}

@media only screen and (max-width: 600px){
    #page1{
        width: 100vw;
        height: 100vh;
        margin-left: 0;
        text-align: center;
    }

    #white_bg_1 #img-3{
        display: none;
    }
    #white_bg_1 #img-4{
        display: none;
    }
    #text_placement{
        width: 85vw;
    }

    .text_wrap{
        justify-content: center;
        flex-direction: column;
    }
    #img__3{

        right: 130px;
        
    }

    #num_pic1{
        top:165px;
        left: 200px;
    }
    
    #num_pic2{
        top:100px;
    }

    #text_last{

        width: 70vw;
        padding-top: 50px;
    }

    #running_text{
        width: 280vh;
        right:-900px;
        transform: rotate(75deg);
    }
}

@media only screen and (max-width: 392px){
    #black_bg_1{
        height: 200vh;
    }
    #page2{
        height: 30vh;
    }
    #page3{
        width: 100vw;
        height: 50vh;
        margin-left: 0;
        text-align: center;

    }

    #page1 #title1 .over_word{font-size: 3em;}
    #title1 #over_word, #title1 .under_word{
        font-size: 3em;
    }
    #page2 h1{
        font-size: 2em;
    }
    #page3 h1{
        font-size: 2em;
    }

    #img__1{
        top: 100px;
    }
    #img__3{

        right: 80px;
        top:130px;
    }
    #img__2{

        margin-left: 70vw;
        margin-top: 100px;
        top: 200px;
    }

    #white_bg_1 #img-2{
        display: none;
    }

    #white_bg_1 #img-5{
        top: 800px;
        /* right: 150px; */
    }
    #white_bg_1 #img-7{
        width: 380px;
        bottom: -50px;
        right: -50px;
    }

    #num_pic1{
        top:130px;
        left: 90px;
    }

    #running_text{
        display: none;
    }

    #text_last{

        width: 100vw;
        margin-left: 2vw;
        margin-right: 2vw;
        
        padding-top: 20px;
    }
    #charite_{
        padding-right: 0px;
    }
    #text_last h4{
        font-size: 1.5em;
        line-height: 120%;
        font-weight: 300;
        margin: 70px 0;
        width: 95%;
        
    }

    
}








